<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Foodtruck</title>
</head>

<body>
    <h1>Edit Foodtruck</h1>
    <form action="/foodtruck/<%= foodtruck._id %>?_method=PUT" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="foodtruck[name]" placeholder="Name" value="<%= foodtruck.name %>">
        <label for="location">Location</label>
        <input type="text" id="location" name="foodtruck[location]" placeholder="Location"
            value="<%= foodtruck.location %>">
        <button>Submit</button>
    </form>
    <a href="/foodtruck/<%= foodtruck._id %>">Back</a>
</body>

</html>