<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodtruck</title>
</head>

<body>
    <h1>List of Foodtrucks</h1>

    <a href="/foodtruck/new">Add new Foodtruck</a>

    <ul>
        <% for(let foodtruck of foodtrucks){ %>
            <li><a href="/foodtruck/<%= foodtruck._id %>">
                    <%= foodtruck.name %>
                </a>
            </li>
            <% } %>
    </ul>

</body>

</html>