<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Foodtruck</title>
</head>

<body>
    <h1>Add new Foodtruck</h1>
    <form action="/foodtruck" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="foodtruck[name]" placeholder="Name">
        <label for="location">Location</label>
        <input type="text" id="location" name="foodtruck[location]" placeholder="Location">
        <button>Submit</button>
    </form>
    <a href="/foodtruck">Back</a>
</body>

</html>